h1 {
  text-align: center;
  margin-top: 10px;
  font-family: "Fredoka One", cursive;
}
.aboutText {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
}
.colored {
  background-color: lightgrey;
}
